<div #bottomSection class="container hidemobile">
  <div class="logo hidemobile"><div>Christia<span class="second">n</span></div><div>Hansen</div> </div>
  <span class="hidemobile pointer underline" (click)="openImprint()">Imprint</span>
</div>
<div class="logo margin hidedesktop"><div>Christia<span class="second">n</span></div><div>Hansen</div> </div>
<div class="copyright">© Christian Hansen 2023</div>
<div class="icon-ctn"><app-section-icons class="moveright"></app-section-icons></div>
<div class="hidedesktop pointer underline" (click)="openImprint()">Imprint</div>
