<div #bottomSection class="container hidemobile">
  <div class="logo hidemobile"><div>Christia<span class="second">n</span></div><div>Hansen</div> </div>
  <span class="hidemobile pointer underline" (click)="openImprint()">Imprint</span>
</div>
<div class="logo hidedesktop"><div>Christia<span class="second">n</span></div><div>Hansen</div> </div>
<div class="copyright"><span>©</span>Christian Hansen<div>2023</div></div>
<div class="icon-ctn"><app-section-icons></app-section-icons></div>
<div class="hidedesktop pointer underline" (click)="openImprint()">Imprint</div>
