<form #contactForm="ngForm" ngNativeValidate (ngSubmit)="logMail()">
  <div class="form-group">
    <input
      type="text"
      id="inputName"
      name="inputName"
      class="form-control"
      required
      minlength="2"
      [(ngModel)]="inputData.inputName"
      #inputName="ngModel"
      placeholder="Your name"
    />

    <div
      *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)"
      class="alert"
    >
      <div *ngIf="inputName.errors?.['required']">
        <span class="validation-error-msg">Your name is required.</span>
      </div>
      <div *ngIf="inputName.errors?.['minlength']">
        <span class="validation-error-msg"
          >Name must be at least 2 characters long.</span
        >
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="email"
      id="inputEmail"
      name="inputEmail"
      class="form-control"
      required
      [(ngModel)]="inputData.inputEmail"
      #inputEmail="ngModel"
      placeholder="Your email"
    />

    <div
      *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
      class="alert"
    >
      <div *ngIf="inputEmail.errors?.['required']">
        <span class="validation-error-msg">Your email address is required.</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <textarea
      name="inputMessage"
      id="inputMessage"
      cols="30"
      rows="6"
      class="form-control"
      required
      [(ngModel)]="inputData.inputMessage"
      #inputMessage="ngModel"
      placeholder="Your message"
    ></textarea>
    <div
      *ngIf="
        inputMessage.invalid && (inputMessage.dirty || inputMessage.touched)
      "
      class="alert"
    >
      <div *ngIf="inputMessage.errors?.['required']">
        <span class="validation-error-msg"
          >Your message is empty</span
        >
      </div>
    </div>
  </div>

  <div class="btn-container">
    <button type="submit" class="main-btn" [disabled]="!contactForm.form.valid">
      Send message :)
    </button>
  </div>
</form>
