<div #aboutSection class="about-section-container">
    <img class="about-bg-form" src="/assets/img/bg/purple-shadow-right.png">
    <div class="aboutcontainer">
        <h2>About me</h2>
        <div>
            Hi, I am a frontend developer based in Meerbusch, Germany.
        </div>
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/bulb-green.png" />
            </div>
            <span
            >I love turning ideas into real things. I make sure to plan well, write clear code and documentations. I enjoy learning about new technologies and working with them.</span
            >
        </div>
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/puzzle-green.png" />
            </div>
            <span
            >I bring strong team collaboration, problem-solving, clear technical communication, efficient time management, and agile adaptability to the table. I'm detail-oriented, responsive to feedback, and committed to delivering high-quality, user-centric web solutions.</span
            >
        </div>
    </div>
    <div class="imagecontainer hidemobile">
        <div class="line hidemobile"></div>
        <img
      class="aboutimage hidemobile"
      src="/assets/img/user.png"
      alt="Christian Hansen"
    />
  </div>
</div>
