<div #aboutSection class="about-section-container">
    <img class="about-bg-form" src="/assets/img/bg/darkblue-shadow-right.png">
    <div data-aos="fade-up" data-aos-duration="1000" class="aboutcontainer">
        <h2>About me</h2>
        <div>
            <p>I’m a German Front-End Developer based in Meerbusch in the Düsseldorf area. I'm skilled in crafting responsive web applications and websites using JavaScript and Angular. </p>
            <div class="mobileimagecontainer hidedesktop">
                <img
              class="mobileimage hidedesktop"
              src="/assets/img/christian-hansen2.png"
              alt="Christian Hansen"
            />
          </div>
            <p>For over 15 years, I have been realizing and managing web applications, both personally and professionally. Throughout my professional path, I've played a key role in bridging the gap between Marketing and IT teams. This experience ignited my passion for coding, leading to my decision to start a dedicated software developer training with the support of a German software development school.</p>
            <p>I've created landing pages, versatile web applications and object-oriented jump-and-run games using these advanced technologies. Please take a look at some of my projects on this website.
            </p>
        </div>
       
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/bulb-blue.png" />
            </div>
            <span>Are you seeking a problem solver? Throughout my dynamic career, I gathered a lot of experience in identifying and analyzing issues in complex IT environments.</span>
        </div>
        <div class="about-item">
            <div>
                <img class="about-icon" src="/assets/img/icons/puzzle-blue.png" />
            </div>
            <span>Do you look for a team player? During my training, I collaborated on several group projects, leveraging my experience from working on international marketing and IT projects.</span>
        </div>
    </div>
    <div class="imagecontainer hidemobile">
        <div class="line hidemobile"></div>
        <img
      class="aboutimage hidemobile"
      src="/assets/img/christian-hansen2.png"
      alt="Christian Hansen"
    />
  </div>
</div>
