<div class="section-title-container">
    <img class="titleimage" src="/assets/img/user.png" alt="Christian Hansen">
    <div class="title-btn-container">
        <div class="title-container">
            <div class="title-vertical">I am</div>
            <div class="title-horizontal">
                <div class="myname">Christian Hansen</div>
                <div class="jobtitle">Frontend Developer</div>
            </div>
        </div>
        <button class="main-btn">Let's talk</button>
    </div>
</div>