.section-title-container {
    display: flex;
    flex-direction: column;
}

.titleimage {
    margin-top: 90px;
    width: 100%;
}

.title-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-container {
    background-color: var(--color-darkbluebg);
    // margin-top: calc(74px + 48px);
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

button {
    margin-top: 26px;
    margin-bottom: 70px;
}

.title-vertical {
    color: white;
    rotate: -90deg;
    font-size: var(--font7);
    // width: 19%;
    margin: -6%;
    margin-left: -8%;
}

.title-horizontal {
    display: flex;
    flex-direction: column;
    width: 81%;
    margin: 0;
}

.myname {
    font-size: 35px;
    font-weight: 700;
    color: white;
    line-height: 120%;
}

.jobtitle {
    text-transform: uppercase;
    font-size: 28px;
    color: var(--color-secondary);
    line-height: 120%;
}

