.section-title-container {
    background-color: var(--color-darkbluebg);
    margin-top: calc(74px + 48px);
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 210px;
    width: 390px;
}

button {
    margin-top: 50px;
    margin-bottom: 200px;
}

.title-vertical {
    color: white;
    rotate: -90deg;
    font-size: var(--font7);
    width: 19%;
    margin: -6%;
    margin-left: -8%;
}

.title-horizontal {
    display: flex;
    flex-direction: column;
    width: 81%;
    margin: 0;
}

.myname {
    font-size: 37px;
    font-weight: 700;
    color: white;
    line-height: 120%;
}

.jobtitle {
    text-transform: uppercase;
    font-size: 29px;
    color: var(--color-purple);
    line-height: 120%;
}