.mobileheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 25px;
  // gap: 774px;
  width: calc(100% - 50px);

  background: var(--color-darkbluebg);
  backdrop-filter: blur(32.5px);

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;

  img {
    cursor: pointer;
  }
}

.mobilemenu {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
  font-size: var(--font7);

  height: 100%;
  width: 100%;
  background-color: var(--color-darkgrey);
  position: fixed;
  // top: 0;
  right: 0;
  bottom: 0;

  animation: displaymenu 350ms 1;
  // transition: transform (0, 100%);

  z-index: 99;


@keyframes displaymenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
  
}

  transform-origin: 0% 0%;
  transform: translateX(0, 100%);
  transition: 1s;
  // transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
