.successpopup {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: var(--font9);
    text-align: center;
    
    background-color: var(--color-darkbluebg);
    border: 1px solid rgba(255, 255, 255, 0.376);
    border-radius: 10px;
    }