<div class="line-portfolio"></div>
<div #portfolioSection class="portfolio-intro-container">
    <h2>Portfolio</h2>
    <span>This page is a sample of my work - please feel free to try them out</span>
</div>

    <div class="portfolio-items-container">
        <app-portfolio-item-box *ngFor="let portfolioItem of portfolio; let i = index" [portfolioItem]="portfolioItem" [index]="i"></app-portfolio-item-box>
      </div>

<img class="portfolio-bg-form-top" src="/assets/img/bg/purple-shadow-left.png">
<img class="portfolio-bg-form-bottom" src="/assets/img/bg/green-shadow-right.png">
      <!-- <div class="portfolio-intro-container">
        <h2>Portfolio 2</h2>
        <span>This page is a sample of my work - please feel free to try them out</span>
    </div>

    <div class="portfolio-items-container">
        <app-portfolio-item *ngFor="let portfolioItem of portfolio; let i = index" [portfolioItem]="portfolioItem" [index]="i"></app-portfolio-item>
      </div> -->


