<div class="portfolio-intro-container">
    <h2>Portfolio</h2>
    <span>This page is a sample of my work - please feel free to try them out</span>
</div>

    <div class="portfolio-items-container">
        <app-portfolio-item-box *ngFor="let portfolioItem of portfolio; let i = index" [portfolioItem]="portfolioItem" [index]="i"></app-portfolio-item-box>
      </div>

      <!-- <div class="portfolio-intro-container">
        <h2>Portfolio 2</h2>
        <span>This page is a sample of my work - please feel free to try them out</span>
    </div>

    <div class="portfolio-items-container">
        <app-portfolio-item *ngFor="let portfolioItem of portfolio; let i = index" [portfolioItem]="portfolioItem" [index]="i"></app-portfolio-item>
      </div> -->


