.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px;
    width: 100%;
    z-index: 5;
}


.icon-btn {
    cursor: pointer;
    width: 30px;
}